.galaxy {
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    position: absolute;
    font-weight: 300px;
    margin-top: 0px;
    margin-left: 20px;
}

.menu {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    position: absolute;
    right: 50%;
    top: 50%;
    color: rgb(255, 255, 255);
}

body {
    
    background-image: url("gradient-simple-background-xs-1920x1080.jpg");
}
